@import "./variables.css";

* {
  margin-top: 0%;
  padding: 0%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.outer-content-cnt {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.content-cnt {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  transition: fadein;
}

.greeting-cnt p {
  opacity: 0;
  font-family: var(--font-primary);
  color: var(--secondary-color);
}

.name-cnt h1 {
  opacity: 0;
  font-size: clamp(30px, 7vw, 60px);
  font-family: var(--font-primary);
  letter-spacing: -2px;

  font-weight: 800;
  /* letter-spacing: 0px; */
  color: var(--name-color);
}

.introduction-cnt h1 {
  opacity: 0;
  font-size: clamp(30px, 7vw, 60px);
  letter-spacing: -2px;
  word-spacing: -20px;
  font-family: var(--font-primary);
  font-weight: 800;
  color: var(--slate-color);
}

.detailed-intro p {
  opacity: 0;
  font-size: clamp(25px, 10px);
  letter-spacing: -2px;
  font-family: var(--font-primary);
  font-weight: 100;
  color: var(--slate-color);
}

.tech-stack-cnt {
  display: flex;
  margin-top: 20px;
  color: var(--secondary-color);
  flex-direction: column;
  height: fit-content;
  align-items: flex-start;
  justify-content: flex-start;
}

.--tech-stack-heading-cnt {
  opacity: 0;
}
.--stack {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.--stack div svg {
  animation: fadeIn;
  width: 50px;
  height: 50px;
  margin: 0%;
  padding: 0%;
}

.--stack-item {
  opacity: 0;
}

.delay-400 {
  animation: fadeIn 1s ease 450ms normal forwards;
}

.delay-425 {
  animation: fadeIn 1s ease 500ms 1 normal forwards;
}
.delay-450 {
  animation: fadeIn 1s ease 600ms 1 normal forwards;
}
.delay-500 {
  animation: fadeIn 1s ease 700ms 1 normal forwards;
}

.delay-550 {
  animation: fadeIn 1s ease 800ms 1 normal forwards;
}
.delay-600 {
  animation: fadeIn 1s ease 850ms 1 normal forwards;
}
.delay-650 {
  animation: fadeIn 1s ease 950ms 1 normal forwards;
}
.delay-700 {
  animation: fadeIn 1s ease 1050ms 1 normal forwards;
}
.delay-750 {
  animation: fadeIn 1s ease 1150ms 1 normal forwards;
}

.delay-800 {
  animation: fadeIn 1s ease 1250ms 1 normal forwards;
}

.profile-image-border1 {
  border-radius: 59% 41% 62% 38% / 56% 44% 63% 56%;
  width: 240px;
  height: 251px;
  color: beige;
  border: 2px solid var(--secondary-color);
  transition: bubble1 ease;
  animation: bubble1 3s infinite;
}

.profile-image-border2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 41% 59% 38% 62% / 56% 46% 54% 44%;
  width: 240px;
  height: 251px;
  color: beige;
  border: 2px solid var(--secondary-color);
  transition: bubble2 ease;
  animation: bubble2 3s infinite;
}

.profile-image-border1 img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 55%;
}

@keyframes bubble1 {
  0% {
    border-radius: 59% 41% 62% 38% / 46% 56% 44% 54%;
  }
  50% {
    border-radius: 41% 59% 38% 62% / 56% 46% 54% 44%;
  }
  100% {
    border-radius: 59% 41% 62% 38% / 46% 56% 44% 54%;
  }
}

@keyframes bubble2 {
  0% {
    border-radius: 41% 59% 38% 62% / 56% 46% 54% 44%;
  }
  50% {
    border-radius: 59% 41% 62% 38% / 46% 56% 44% 54%;
  }
  100% {
    border-radius: 41% 59% 38% 62% / 56% 46% 54% 44%;
  }
}

.profile-image-cnt img {
  height: 300px;
  opacity: 0;
}
